@media (max-width: 660px) {
  .nav-branding {
    margin: 0;
  }

  #home {
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 100%;
    margin: 0;
    justify-items: center;
  }

  .description {
    padding: 0;
  }

  .description > h1 {
    font-size: 36px;
  }

  .description > p {
    width: 16rem;
    font-size: 14px;
    line-height: 1.2;
  }

  .description > h4 {
    margin: 2rem 0 2rem;
  }

  .preview-image {
    min-width: 10rem;
    max-width: 30rem;
  }

  .credits {
    left: 5rem;
    top: 15.5rem;
    width: 20rem;
    height: 7rem;
  }

  .profile {
    padding: 0 0 0.8rem 0.5rem;
  }

  .profile > img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .profile-description {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  .profile-description > h4 {
    font-size: 12px;
    font-weight: 400;
    margin: 0.4rem 0 0.3rem 0;
  }

  .profile-description > h5 {
    font-size: 10px;
    margin: 0;
  }

  .room-img {
    min-width: 20rem;
  }

  .testimonial-callout {
    font-weight: 700;
    font-size: 20px;
    width: 13rem;
    padding-left: 0.5rem;
    margin: 0;
  }

  .hamburger {
    display: block;
  }

  .second-bar-disappear {
    opacity: 0;
  }

  .first-bar-rotate {
    transform: translateY(8px) rotate(45deg);
  }

  .third-bar-rotate {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: absolute;
    left: 0;
    top: 80px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    visibility: hidden;
    height: 100%;
  }

  .nav-item {
    margin: 16px 0;
  }

  .visible {
    visibility: visible;
  }

  .not-visible {
    visibility: hidden;
  }
}
